<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-4">
    <h1>article: {{ get_article.name }}</h1>
    <p><a href="/">Go back</a></p>
    <p>Created_date:   {{ get_article.create_date }}</p>
    <p>name:   {{ get_article.name }}</p>
    <p>text:   {{ get_article.text }}</p>

  </div>
</body>
</html>
